/*
	miMain.css
	Creador: Miriam García Sánchez	
	DNI: 70903845C
	Fecha: 27/02/2017
*/
.logo{
	width:130px;
	margin:0 auto 35px;
}

html {
    color: #222;
    font-size: 12px;
	width:100%;
    height: 100%;
	margin: 0;
}

body {
	width:100%;
	height:100%;
	margin: 0;
}

.hidden {
    display: none !important;
}

#contenedorPadre{
	background:rgb(193, 38, 42); 
	width:100%;
	height:100%;
	/*margin-bottom: 5%;*/
	margin: auto;
}

#titulo{
	background:rgb(193, 38, 42);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	width: 100%;
    font-weight: bold;
	text-align: center;
}

.visibleP{
	visibility:hidden !important;
	display:none;
}

/*------------------------------*/	
/*		CONTENDOR IZQUIERDA		*/	
/*------------------------------*/	

#izquierda{
	width:20%;
	height:90%;
	background:rgb(193, 38, 42);
	position:absolute;
	float:left;
	margin-top: 0em;
	margin-right: 0em;
	margin-left: auto;
	background: url(../img/fondoTexto.PNG);
	background-size: 200%;
	background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
	overflow: hidden;
	display: block;
    padding-bottom: 0px;
	}
	
.enlacesdelmenu {
	text-decoration:none;
	font-family: Helvetica;
	//font-family: Georgia;
	font-size:1.5vw !important;
	font-weight: bold;
	//-webkit-text-fill-color: black;
	//-webkit-text-stroke-color: red;
	//-webkit-text-stroke-width: 0.5px; 
	//color: white;
}
	
a.enlacesdelmenu:visited {color:#000000;}
	
a.enlacesdelmenu:link{
	color: black;
	//color:#000000;}

a.enlacesRef:link {
	color: blue;
	//text-align:justify;
	//text-decoration: none;
}

a.enlacesRef:visited {
	color:red;
	//text-align:justify;
	//text-decoration:none;
}
	
li.li:hover{
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1) ), url(../img/iconoMenu.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 50px;
    font-weight: bold;
	}
	
.ul{list-style-type:none;}
		
/*------------------------------*/	
/*		CONTENDOR DERECHA		*/	
/*------------------------------*/		
#derecha{
	width:80%;
	height:90%;
	background: linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) ), url("../img/fondoTexto2.PNG");
    background-size: cover;
	float: right;
	margin: 0;
	padding: 1em;
	overflow: hidden;}

div.section{
	width:100%;
	height:100%;
	min-width: 60%;
	max-width: 80%;
	position: relative;
	margin-top: 2em;
	margin-right: 4em;
	padding-top: 10em;
	padding-left: 4em;
	padding-bottom: 3em;
	overflow: hidden;
	overflow-y:scroll;
	margin-right:0;
	max-width:100%;
	font-family: calibri;
	//padding-top: 35px;
	//padding-bottom: 350px;
	}

/*div.Necesidades-box {
	padding-top: 40px;
    padding-bottom: 350px;
}*/

div.container{
	padding-top: 35px;
    padding-bottom: 100px;
}
div.section{
    margin-top: 0px;
    padding-left: 0px;
	padding-top: 40px;
    padding-bottom: 350px;  
	overflow: hidden;
	//overflow-y:scroll; 
	height: -webkit-fill-available;
}

	
/* Inicio*/
li.tituloPeli{
	font-size:5em;
	font-weight: bold;
	text-align:center;
}

li.tituloPeli2{
	font-size: 3.5em;
    line-height: 1.5em;
	font-weight:bold;
	text-align:center;
}
img.media{
	height:1.5em;
	text-align:center;
}

li.imgIni{
	
	text-align: center;
}
b.tiempo{
	font-size: 1.5em;
    line-height: 1.5em;
	-webkit-text-fill-color: #FFA833;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 0.5px; 
	padding-left: 0.5em;
}

li.inicioText{
	font-size: 1.5em;
    line-height: 1.5em;
	font-weight:bold;
	text-align:center;
}
li.inicioText2{
	font-size: 1.5em;
    line-height: 1.5em;
	font-weight:bold;
	font-weight:bold;
	text-align: center;
	-webkit-text-fill-color: #FFA833;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 0.5px; 
}
/*sipnosis, dispositivos, tecnologias, impacto, referencias*/

ul{
	list-style: none;
}

h2.tituloIndice{
	margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 50px;
	font-size: 3em;
    line-height: 1.5em;
	font-weight:bold;
}

li.tituloIndice2,
li.tituloIndice{
	font-size: 3em;
    line-height: 1.5em;
	font-weight:bold;
}
p.texto{
	font-size: 1.5em;
    line-height: 1.5em;
	text-align:justify;
    padding-right: 30px;
    margin-right: 4em;
    padding-left: 40px;
}
p.textoS{
	font-size: 1.5em;
    line-height: 1.5em;
	text-align:justify;
    padding-right: 30px;
    margin-right: 4em;
}

li.nombreDispositivo{
	font-size: 2.5em;
    line-height: 1.5em;
	font-weight:bold;
}

li.aparicion{
	font-size: 2em;
    line-height: 1.5em;
	font-weight:bold;
}
li.necesidad{
	font-size: 2em;
    line-height: 1.5em;
	font-weight:bold;
}
iframe.mediaDispositivo{
	//width:40%;
	//height:60%;
	width:560px;
	height:315px; 
    vertical-align: middle;
	text-align: center;
	margin-left:25em;
}
li.tipoTecnologia{
	font-size: 2.5em;
    line-height: 1.5em;
	font-weight:bold;
}

.business-talking{
	height: -webkit-fill-available;
}

/*------------------------------*/	
/*		CONTENDOR PIE		*/	
/*------------------------------*/
		
#pie{
	background:rgb(195, 30, 40);
	//box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 3px 0 5px 0 rgba(0,0,0,0.16), 3px 0 10px 0 rgba(0,0,0,0.12);
	width:100%;
    line-height: 1.5em;
	position: absolute;
	bottom:0;
	margin-top: 0;//5em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
}
p.contenidoPie{
	font-size:1.5em;
    line-height: 1.5em;
	text-align:center;
	color: white;
	margin: 0;
}